@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Política de Privacidad</h1>
<p>Sunset Restaurant se compromete a proteger la privacidad de sus usuarios y clientes. Toda la información proporcionada será manejada de forma confidencial y no será compartida con terceros sin autorización.</p>
<a asp-controller="Home" asp-action="Index" class="btn btn-link">Volver al Inicio</a>

